@font-face {
  font-family: gravi;
  src: url(fonts/Gravitas_One/GravitasOne-Regular.ttf);
}

@font-face {
  font-family: arimo;
  src: url(fonts/Arimo/Arimo-Italic-VariableFont_wght.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #19011b;
  color: #002142;
  position: relative;
}

.nav {
  position: absolute;
  width: 100%;
  top: 0px;
  z-index: 1000;
}

.nav nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vh 3vh;
}

.nav h1 {
   font-family:sans-serif;
}

.page1 {
  position: relative;
}

.backside-video {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.backside-video video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: fixed;
  top: 0;
}

.bakery {
  width: 100vw;
  position: absolute;
  top: 0;
  z-index: 1;
  background: linear-gradient(#d8f1fc, #f9f3f3);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
  font-weight: 100;
}

.bakery p {
  font-size: 10vw;
  font-family: gravi !important;
}

.page2 {
  height: auto;
  width: 100vw;
  background: linear-gradient(#e8f5fb, #f9f3f3);
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: arimo;
  font-size: 20px;
}

.page2 .box {
  height: auto;
  width: 700px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.page2 .box1 h1 {
  padding: 2vh;
  font-family: gravi;
  font-weight: 100;
}

.page2 .box1 p {
  font-size: 18px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  font-family: arimo;
}

.page2 .box img {
  height: 500%;
  width: 70%;
}

.page2 .box {
  animation: AutoshowaAnimation both;
  animation-timeline: view(85% 20%);
}

@keyframes AutoshowaAnimation {
  from {
    opacity: 0.5;
    transform: translateY(220px) scale(0.3);
  }

  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.container {
  height: auto;
  width: 95vw;
  position: relative;
  margin: auto;
  display: flex;
  overflow: hidden;
  gap: 10px;
  border: 1px solid #dadada;
  padding: 10px;
  box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
}

.container .elem {
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  animation-name: slide;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.container .elem img {
  height: auto;
  width: 400px;
  border-radius: 5px;
}

.container .elem img:hover {
  opacity: 0.7;
}

.page3 {
  height: auto;
  width: 100vw;
  padding: 20px;
  background: linear-gradient(#eff4f7, #fcfbfb);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.swiper-left-elem {
  height: auto;
  width: 600px;
  padding: 10px;
  padding-bottom: 20px;
}

.swiper-right-elem {
  height: auto;
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.swiper-right-elem img {
  width: 85%;
  height: 70%;
  box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 20px;
}

.swiper-right-elem img:hover {
  object-fit: cover;
}

.page3 .swiper {
  width: 240px;
  height: 320px;
}

.page3 .swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 20px;
}

.page3 .swiper-slide h3 {
  padding: 10px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #fff;
}

.page3 .swiper-slide:nth-child(1n) {
  background-color: rgb(217, 84, 84);
}

.page3 .swiper-slide:nth-child(2n) {
  background-color: rgb(112, 169, 215);
}

.page3 .swiper-slide:nth-child(3n) {
  background-color: rgb(103, 172, 143);
}

.page3 .swiper-slide:nth-child(4n) {
  background-color: rgb(213, 170, 114);
}

.page3 .swiper-slide:nth-child(5n) {
  background-color: rgb(174, 195, 127);
}

.page3 .swiper-slide:nth-child(6n) {
  background-color: rgb(206, 141, 155);
}

.page3 .swiper-slide:nth-child(7n) {
  background-color: rgb(168, 218, 155);
}

.page3 .swiper-slide:nth-child(8n) {
  background-color: rgb(169, 186, 233);
}

.page3 .swiper-slide:nth-child(9n) {
  background-color: rgb(208, 153, 208);
}

.page3 .swiper-slide:nth-child(10n) {
  background-color: rgb(158, 213, 190);
}

.page4 {
  height: auto;
  width: 100vw;
  background: linear-gradient(#fcfafa, #f9f3f3);
  position: relative;
  padding: 10px;
}

.page4 h1 {
  text-align: center;
  font-size: 3vw;
  padding-bottom: 20px;
  font-family: gravi;
  font-weight: 100;
}

.page4 .main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.page4 .main .box {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.page4 .main .box .item {
  height: 100%;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 1s;
  border-radius: 10px;
}

.page4 .main .box .item h3,
p {
  font-size: 1.2vw;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  padding: 3px;
}

.page4 .main .box .item:hover {
  cursor: pointer;
  background-color: rgb(198, 175, 105);
  border-radius: 5px;
  scale: 1.02;
}

.page4 .main .box .item:hover img {
  border-radius: 60%;
}

.page4 .main .box .item img {
  height: 70%;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 20px;
  object-fit: cover;
}
.page4 .main .box .item p {
  background-color: rgb(154, 254, 3);
  padding: 5px 7px;
  border-radius: 0.3vw;
}

.page4 .main .box .btn {
  background-color: #111;
  color: #dadada;
  padding: 0.5vw 2vw;
  border-radius: 0.5vw;
  opacity: 0;
  transition: 0.2s;
  font-size: 1.2vw;
}

.page4 .main .box:hover .btn {
  opacity: 1;
  transform: translateY(-4vw);
}

.page4 .main .box:hover p {
  opacity: 0;
}

.page4 .main .box .item svg {
  height: 4vw;
  width: 4vw;
  position: absolute;
  z-index: 22;
  right: 0;
  margin: 15px;
  opacity: 0;
  transform: scale(0);
  transition: 0.2s;
}

.page4 .main .box .item:hover svg {
  opacity: 1;
  transform: scale(1);
}

.page5 {
  height: auto;
  width: 100vw;
  position: relative;
  background: linear-gradient(#f9f3f3, #e5f3f9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.brand {
  height: 100px;
  width: 85vw;
  position: relative;
  margin-top: 0;
  display: flex;
  overflow: hidden;
  margin-bottom: 10px;
  border-radius: 10px;
}

.brand .elem {
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: Autoslide;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes Autoslide {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.brand .elem img {
  height: 100%;
  width: 200px;
  border-radius: 5px;
  transition: 0.1s;
}

.brand .elem img:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.brand .left {
  height: 100%;
  width: 15%;
  background: linear-gradient(to right, #f2f0f0, transparent);
  position: absolute;
  z-index: 2;
}

.brand .right {
  height: 100%;
  width: 15%;
  background: linear-gradient(to right, transparent, #f2f0f0);
  position: absolute;
  z-index: 2;
  right: 0;
}

.banner {
  position: relative;
  height: 40%;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner img {
  height: 100%;
  width: 100%;
  padding: 20px 0px;
}

.banner .btn {
  position: absolute;
  bottom: 25%;
  background-color: #111;
  color: #dadada;
  padding: 0.8vw 2vw;
  border-radius: 0.7vw;
}

.banner .btn h2 {
  font-size: 1.5vw;
}

.swiper {
  width: 100%;
  height: 70%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.page6 {
  min-height: 100vh;
  width: 100wv;
  background: linear-gradient(#f9f3f3, #e5f3f9);
  position: relative;
}
.review{
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}
.review  p{
  font-size: 16px;
  color: #434343;
}
.review  h2{
  font-size: 30px;
}
.review .reviewBox{
    width: auto;
    height: auto;
    background-color: rgb(253, 232, 235);
    padding: 5px 30px;
    border-radius: 10px;
    margin-top: 20px;
}
.review .reviewBox svg{
  height: 50px;
  width: 30px;
}
.review .reviewBox p{
  color: #2d2d2d;
}

.customerReview{
   height: auto;
   width: 100%;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
}
.customerReview .box{
  margin-top: 37px;
  height: auto;
  border: 1px solid #dadada;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  transform: scale(0.9);
  transition: 0.6s;
}
.customerReview .box:hover{
  cursor: pointer;
  transform: translateY(-30px) scale(1);
   box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
}
.customerReview .box:hover img{
  transform: translateY(-30px) scale(1.1);
}
.customerReview  img{
  height: 100px;
  width: 100px;
  border-radius: 50%;
    transition: 0.6s;
}
.customerReview .box svg{
  height: 30px;
  width: 20px;
}
.customerReview .box h2{
  font-size: 18px;
  font-weight: 300;
}
.page6 footer {
  height: auto;
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.page6 .footer {
  height: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.page6 .footer .box {
  height: auto;
  width: 300px;
  padding: 5px 0px;
}

.page6 .footer .box img {
  height: 160px;
  width: 250px;
}

.page6 .footer .box p {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 18px;
  line-height: 20px;
}
.page6 .footer .box svg {
  height: 30px;
  width: 30px;
}
.page6 footer .endElem{
  padding: 30px;
}
.page6 footer .endElem p{
     color: #606060;
     font-size: 15px;
}
.page6 footer .endElem h4, p{
     font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
     align-items: center;
     font-weight: 600;
}





@media screen and (max-width:680px) {
  .container .elem img {
    height: auto;
    width: 190px;
  }

  .page4 .main {
    padding: 0;
  }

  .page4 h1 {
    font-size: 5vw;
  }

  .bakery p {
    font-size: 12vw;
  }
 .customerReview .box p{
  font-size: 10px;
}
}

@media screen and (max-width:1390px) {
  .page4 .main {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .page4 .main .item h3,
  p {
    font-size: 1.8vw;
  }
}

@media screen and (max-width:1000px) {
  .swiper {
    height: 50%;
  }

  .page4 .main .box .item h3,
  p {
    font-size: 1.5vw;
  }
}

@media screen and (max-width:550px) {
  .page4 .main {
    grid-template-columns: 1fr 1fr;
  }

  .page4 .main .box .item h3,
  p {
    font-size: 2.2vw;
  }

  .page4 .main .box .btn {
    padding: 0.9vw 2.6vw;
    border-radius: 0.5vw;
    font-size: 1.8vw;
  }

  .swiper {
    height: 30%;
  }

  .brand {
    height: 80px;
    width: 90vw;
  }
}
@media screen and (max-width:1040px){
  .customerReview{
   grid-template-columns: 1fr 1fr;
}
}